# HwBinder IPC from client to server
binder_call(hal_lucid_fod_client, hal_lucid_fod_server)

add_hwservice(hal_lucid_fod_server, hal_lucid_fod_hwservice)
allow hal_lucid_fod_client hal_lucid_fod_hwservice:hwservice_manager find;

# Allow binder communication with platform_app
binder_call(hal_lucid_fod, platform_app)
